run = "npm start"
entrypoint = "index.js"

hidden = [".config", "package-lock.json"]

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[nix]
channel = "stable-22_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun" 